.findMeContainer {
  position: fixed;
  right: 20px;
  top: 20%;
  z-index: 1000;
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #102937;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: height 0.3s ease, border-radius 0.3s ease, padding 0.3s ease;
  overflow: hidden;
  padding: 0; /* Added for smooth padding transition */
}

.navbar.open {
  height: 300px; /* Set the height to accommodate all icons */
  border-radius: 25px;
  padding: 10px 0; /* Add padding when open */
}

.navIconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.navIcon {
  color: #d84f2a;
  font-size: 24px;
  transition: color 0.3s ease;
}

.navIcon:hover, .circleIcon:hover {
  color: #d8502a30;
}

.circleIcon {
  transition: color 0.3s ease, border-bottom 0.3s ease;
  color: #d84f2a;
  font-size: 24px;
}

@media (max-width: 768px) {
  .navbar.open {
    height: 160px; /* Adjusted for smaller screens */
  }

  .navIcon {
    font-size: 20px;
  }

  .circleIcon {
    font-size: 20px;
  }
}