.container {
  display: flex;
  flex-direction: row;
  justify-content: flex;
  gap: 20px;
  text-align: left; /* Align text to the left */
  padding: 200px;
  height: auto; /* Adjusted to full viewport height */
  min-height: 500px;
  box-sizing: border-box;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name {
  font-size: 36px;
  font-weight: bold;
}

.title {
  font-size: 20px;
  color: var(--text-color-secondary); /* Adjust color as needed */
}

.description {
  max-width: 800px; /* Adjust the width to your preference */
  font-size: 18px;
}

.socialLinks {
  display: flex;
  gap: 25px;
}

.socialLinks a {
  margin: 0;
}

.socialLinks img {
  width: 30px;
}

button {
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  border: none;
  border-radius: 20px;
  width: 126px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 1400px) {
  .name {
    font-size: 48px; /* Increase name font size for larger screens */
  }

  .title {
    font-size: 24px; /* Increase title font size for larger screens */
  }
}
