.container {
  display: flex;
  flex-direction: column; /* Change to column to stack elements vertically */
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  gap: 20px;
  text-align: center; /* Center-align text */
  padding: 100px 20px; /* Adjust padding as needed */
  height: auto;
  min-height: 500px;
  box-sizing: border-box;
}

.quoteContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Make sure the container takes the full width */
}

.quote {
  font-size: 20px;
  font-family: cursive;
  color: var(--text-color); /* Match the color with your theme */
  border-left: 4px solid var(--primary-color); /* Add a left border for emphasis */
  padding-left: 10px; /* Add padding to the left of the text */
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center; /* Center align the info content */
}

.header {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center; /* Center align the header content */
}

.name {
  font-size: 36px;
  font-weight: bold;
}

.title {
  font-size: 20px;
  border: 10px;
  color: var(--text-color-secondary); /* Adjust color as needed */
}

.description {
  max-width: 800px;
  font-size: 18px;
  text-align: center; /* Center-align the description */
}

@media (min-width: 800px) {
  .container {
    padding: 150px 20px;
  }
}

@media (min-width: 1400px) {
  .name {
    font-size: 48px;
  }

  .title {
    font-size: 24px;
  }
}
