.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  z-index: 1000;
  display: flex;
  justify-content: space-between; /* Space between branding and menu */
  align-items: center; /* Center vertically */
  padding: 10px 20px; /* Adjust padding */
  box-sizing: border-box;
}

.branding {
  display: flex;
  align-items: center;
}

.initials {
  font-size: 24px;
  color: #00bfff;
  font-weight: bold;
  margin-right: 10px;
}

.name {
  font-size: 18px;
  color: #fff;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 20px;
  position: relative;
}

.navIcon {
  color: #fff !important;
  font-size: 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 8px;
  transition: color 0.3s ease;
  flex-direction: column;
}

.navIcon:hover {
  color: #00bfff;
}

.tooltip {
  position: absolute;
  bottom: -35px;
  background-color: #555;
  color: #fff;
  padding: 5px 8px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.navIcon:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.navbar .active .navIcon {
  color: #00bfff;
  border-bottom: 2px solid #00bfff; /* Add underline */
  transition: border-bottom 0.3s ease;
}
