.navbar {
  position: sticky;
  top: 0;
  background-color: #333;
  padding: 10px 0;
  z-index: 1000;
  width: auto;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.navbar ul li a:hover {
  background-color: #555;
}