.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  margin-bottom: 100px;
  left: 0;
  background-color: #333;
  z-index: 1000;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  box-sizing: border-box;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 20px;
  position: relative;
}

.navIcon {
  color: #d84f2a !important;
  font-size: 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 8px;
  transition: color 0.3s ease, border-bottom 0.3s ease; /* Smooth transition */
  flex-direction: column;
}

.navIcon:hover {
  color: #d8502a4c;
}

.tooltip {
  position: absolute;
  bottom: -35px;
  background-color: #555;
  color: #fff;
  padding: 5px 8px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.navIcon:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.navbar .active .navIcon {
  color: #d8502a53 !important;
  border-bottom: 2px solid #d8502a4c;
  transition: color 0.3s ease, border-bottom 0.3s ease; /* Smooth transition */
}

.navbar .navIcon::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #d8502a4c;
  transition: width 0.3s ease;
}

.navIcon:hover::after,
.navbar .active .navIcon::after {
  width: 100%; /* Full-width underline on hover or when active */
}


.resume {
  margin-left: auto !important; /* Push Resume button to the right */
}

.resume a {
  color: #fff !important;
  text-decoration: none;
  font-size: 24px;
  padding: 8px;
  border-radius: 4px;
  transition: color 0.3s ease;
}

.resume a:hover {
  color: #00bfff;
}