.skillsSection {
  padding: 20px 20px 60px 20px;
  margin: 0 auto;
  max-width: 1200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

.iconSection {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center the icons horizontally */
  font-size: 2rem;
}

.icnosSkill {
  margin: 0 25px; /* Adjust margin for better spacing */
  text-align: center;
  justify-content: center;
  position: relative;
  color: var(--lightwhite) !important;
}

.skillText {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  justify-content: center; /* Center the icons horizontally */
}

.skillsTitle {
  font-size: 36px;
  color: var(--lightgreen);
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}

.skillsTitle::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: var(--darkgreen);
  margin: 20px auto 0;
  border-radius: 2px;
}

.skillCategory {
  margin-bottom: 30px;
  transition: transform 0.3s ease;
  width: 100%; /* Ensure categories take up the full width */
}

.skillCategory h3 {
  font-size: 24px;
  color: var(--darkcream);
  margin-bottom: 15px;
  position: relative;
}

.skillCategory h3::before {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: var(--darkorange);
  position: absolute;
  bottom: -5px;
  left: 0;
  border-radius: 2px;
}

.skillCategory p {
  font-size: 16px;
  color: var(--lightcream);
  line-height: 1.6;
  margin-left: 15px;
}

@media (max-width: 768px) {
  .skillsSection {
    padding: 120px 20px 60px 20px;
  }

  .skillsTitle {
    font-size: 28px;
  }

  .skillsTitle::after {
    width: 60px;
  }

  .skillCategory h3 {
    font-size: 20px;
  }

  .skillCategory p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .skillsSection {
    padding: 120px 20px 60px 20px;
  }

  .skillsTitle {
    font-size: 24px;
  }

  .skillsTitle::after {
    width: 50px;
  }

  .skillCategory h3 {
    font-size: 18px;
  }

  .skillCategory p {
    font-size: 13px;
  }

  .iconSection {
    flex-wrap: wrap; /* Wrap icons on small screens */
    justify-content: center;
  }

  .icnosSkill {
    margin: 10px; /* Adjust margin for smaller screens */
  }
}

.icnosSkill,
.skillCategory {
  transition: opacity 0.5s ease, filter 0.5s ease, display 0.5s ease;
  cursor: pointer;
}


