:root {
  --darkblue: #e6e2df;
  --lightblue: #d6d0cf;
  --darkgreen: #ebdfdf;
  --lightgreen: #e1d9d9;
  ---darkorange: #27b0d5;
  --lightorange: #58bce463;
  --darkcream: #292a3f;
  --lightcream: #1e2530;
  --darkwhite: #121920;
  --lightwhite: #121212;
}

[data-theme="dark"] {
  --darkblue: #091d26;
  --lightblue: #102937;
  --darkgreen: #094044;
  --lightgreen: #124d54;
  --darkorange: #d84f2a;
  --lightorange: #f9744b5f;
  --darkcream: #d6c4b0;
  --lightcream: #e1d9cf;
  --darkwhite: #ede6df;
  --lightwhite: #ededed;
}

body {
  background-color: var(--lightblue);
  display: flex;
  justify-content: center;
  margin: 0 auto 0px;
  cursor: default; /* Ensures the cursor is the default arrow */
  user-select: none;
}

#root {
  display: flex;
  position: relative;
  gap: 5px;
  flex-direction: column;
  min-height: 100vh; /* Ensure the root covers the full viewport height */
  /* overflow: hidden; Prevents content from overflowing outside the viewport */
  user-select: none;
  cursor: default; /* Ensures the cursor is the default arrow */
}

h1,
h2,
h3,
p {
  color: var(--darkcream);
  margin: 0;
  padding: 0;
}

h2,
h3,
p {
  font-family: monospace;
}

h1,
h2 {
  text-transform: uppercase;
}

h2,
h3 {
  font-size: 20px;
}

h1 {
  font-family: "Rubik", monospace;
  font-size: 32px;
}

p {
  font-size: 16px;
  font-weight: 300;
}

.sectionTitle {
  margin-bottom: 30px;
}

.hover {
  cursor: pointer;
}

@media (width >= 800px) {
  #root {
    gap: 5px;
  }
  h1 {
    font-size: 40px;
  }
  h2,
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 20px;
  }

  .sectionTitle {
    margin-bottom: 60px;
  }

  @media (width >= 1400px) {
    #root {
      gap: 5px;
    }
    h1 {
      font-size: 48px;
    }

    .sectionTitle {
      margin-bottom: 75px;
    }
  }
}
body::-webkit-scrollbar {
  width: 10px; /* Adjust the width */
}

body::-webkit-scrollbar-track {
  background: var(--darkblue);
}

body::-webkit-scrollbar-thumb {
  background: var(--lightgreen);
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--darkgreen);
}

html {
  overflow-y: scroll;
}
